In [8]:
import pandas as pd
from datetime import datetime
import psycopg2
import matplotlib as plt

In [9]:
param_dic = {
    "host"      : "localhost",
    "database"  : "mood_logger",
    "user"      : "new",
    "password"  : "123"
}

conn = None
try:
    # connect to the PostgreSQL server
    print('Connecting to the PostgreSQL database...')
    conn = psycopg2.connect(**param_dic)
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
print("Connection successful")

Connecting to the PostgreSQL database...
Connection successful

In [16]:
column_names=['id','Name','mood','Time-stamp']
cursor = conn.cursor()
cursor.execute("SELECT * FROM logs")
tupples = cursor.fetchall()
cursor.close()
df = pd.DataFrame(tupples, columns=column_names)
df.to_sql('test_data',conn)
df

   id       Name  mood                  Time-stamp
0   1       test     5  2022-01-04 22:11:12.749585
1   2        Ben     4  2022-01-05 18:57:48.393418
2   3  ayushmaan     3   2022-01-05 22:18:35.30967
3   4     ritvik     5  2022-01-05 22:18:45.756062
4   5  ayushmaan     3  2022-01-05 22:18:56.160092
5   6  ayushmaan     1  2022-01-05 22:19:17.039921
6   7  ayushmaan     2  2022-01-05 22:19:22.571332
7   8  ayushmaan     5  2022-01-05 22:19:27.599058

## Average mood everyday

In [13]:
df["Day"] = df['Time-stamp'].dt.date
day_avg=df.groupby(['Day']).mean()
day_avg

AttributeError: Can only use .dt accessor with datetimelike values